config/base16-shell
config/fish/fishd.*
config/fish/fish_history
config/fish/generated_completions
config/hub
config/keybase
config/mudlet

local/bin/vpn*
local/share

vim/bundle/*
vim/_temp
config/configstore/
