atom/.atom-socket-secret-*
atom/blob-store
atom/packages
atom/recovery

Brewfile.lock.json

bundle/cache

config/.mono
config/autostart
config/base16-shell
config/configstore
config/doctl
config/fish/fish_history
config/fish/fishd.*
config/fish/fish_variables
config/fish/local.fish
config/heroku
config/hub
config/keybase
config/mudlet
config/StardewValley
config/yarn

local/share/fish/generated_completions
local/share/fish/fish_history
local/share/fish/fish_read_history
local/share/gem
local/share/heroku
local/share/keybase
local/share/nvim/shada
local/share/pry/

# Ignore fisherman
config/fish/completions/fisher.fish
config/fish/conf.d
config/fish/functions/fisher.fish
config/fish/fishfile
config/fisherman

# Ignore sensitive Terracorm files
workstation/terraform.tfstate*
workstation/.terraform
