<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.davidcelis.update-wallpaper</string>

    <key>Program</key>
    <string>/Users/david/.local/bin/update-wallpaper</string>

    <key>StartInterval</key>
    <integer>1800</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/var/log/update-wallpaper.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/update-wallpaper.log</string>
  </dict>
</plist>
