"*":
  "atom-beautify": {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    hyperclick:
      darwinTriggerKeys: "shiftKey,metaKey"
    use: {}
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/lib/erlang/bin/"
  "autocomplete-paths": {}
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
  core:
    disabledPackages: [
      "autocomplete-paths"
      "pigments"
      "linter"
    ]
    projectHome: "/Users/davidcelis/Developer"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "FiraCode-Light"
    fontSize: 18
    invisibles: {}
    preferredLineLength: 120
  "exception-reporting":
    userId: "f951f304-7607-ed69-34b1-50430d1496f5"
  "file-icons":
    coloured: false
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "git-blame":
    columnWidth: 353
  "git-plus":
    general:
      _analyticsUserId: "7166f9aa-c565-4854-ae51-7f6e672459f0"
  github:
    gitDiagnostics: true
  "go-plus":
    goPath: "/usr/local/share/go"
    panel:
      displayMode: "closed"
    test:
      runTestsOnSave: false
  linter: {}
  "linter-elixirc":
    elixircPath: "/usr/local/bin/elixirc"
    mixPath: "/usr/local/bin/mix"
  "linter-ui-default":
    panelHeight: 300
  "no-title-bar": {}
  "one-dark-ui": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#27292c"
        blue: "#93b2ca"
        cyan: "#9ac9c4"
        green: "#c2c77b"
        magenta: "#c0a7c7"
        red: "#d77c79"
        white: "#d0d2d1"
        yellow: "#f4cf87"
      zBright:
        brightBlack: "#a7a8a7"
        brightBlue: "#93b2ca"
        brightCyan: "#9ac9c4"
        brightGreen: "#c2c77b"
        brightMagenta: "#c0a7c7"
        brightRed: "#d77c79"
        brightYellow: "#f4cf87"
    iconColors:
      blue: "#93b2ca"
      cyan: "#9ac9c4"
      green: "#c2c77b"
      magenta: "#c0a7c7"
      orange: "#fba16d"
      pink: "#cd99c1"
      purple: "#b188c9"
      red: "#d77c79"
      yellow: "#f4cf87"
    style:
      fontFamily: "FiraCode-Light"
      fontSize: "18"
      theme: "one-dark"
  "recent-files":
    updated: false
  "terminal-plus":
    core: {}
    style: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
