"*":
  "atom-beautify": {}
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/lib/erlang/bin/"
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
  core:
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "FiraCode-Light"
    fontSize: 18
    invisibles: {}
  "exception-reporting":
    userId: "f951f304-7607-ed69-34b1-50430d1496f5"
  "file-icons":
    coloured: false
  "fuzzy-finder": {}
  "git-plus":
    general:
      _analyticsUserId: "7166f9aa-c565-4854-ae51-7f6e672459f0"
  github:
    gitDiagnostics: true
  "go-plus":
    goPath: "/usr/local/share/go"
  linter: {}
  "linter-elixirc":
    elixircPath: "/usr/local/bin/elixirc"
    mixPath: "/usr/local/bin/mix"
  "one-dark-ui": {}
  "recent-files":
    updated: false
  "tree-view":
    hideIgnoredNames: false
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
